.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 66%;
    position: relative;
    left: -17%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgb(109, 184, 219);
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: rgb(238, 238, 238);
}